<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Add User</title>
</head>
<body>
        <h1>Add User</h1>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <form action="/add_user/" method="post" style= "max-width:40%; margin:auto; padding:20px;">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <label for="designation">Designation:</label><br>
            <input type="text" id="designation" name="designation"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
