<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark as Arrived</title>
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
    <div class="container">
<h2>Assign SIM</h2>

<form action="/assign-sim/" method="post">
    <label for="its">Search ITS:</label>
    <input type="number" id="its" name="its" required>
    <button type="submit">Search</button>
</form>

{% if master %}
<h2>SIM Information</h2>
<form action="/update-phone/" method="post">
    <input type="hidden" id="its" name="its" value="{{ master.ITS }}">
    <table>
        <tr>
            <th>ITS</th>
            <td>{{ master.ITS }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ master.first_name }}</td>
        </tr>
        <tr>
            <th>Assigned Number</th>
            <td>
                <input type="text" id="phone_number" name="phone_number" maxlength="11" value="{{ master.phone }}" required>
            </td>
        </tr>
    </table>
    <button type="submit">Update Phone Number</button>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if message %}
    <p style="color: green;">{{ message }}</p>
    {% endif %}
{% endif %}
</form>
</div>
</body>
</html>
