<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home/">Home</a></li>
            <li><a href="/master-form">Customs Form</a></li>
            <li><a href="/mark-as-arrived-form/">Mark as Arrived</a></li>
            <li><a href="/assign-sim-form">Assign SIM</a></li>
            <li><a href = "/bus-booking/">Bus Booking </a></li>
            <li><a href="/view-booking-info/">view booking info</a></li>
            <li><a href="/view-buses/">View Buses</a></li>
            <li><a href="/add-bus/">Add Bus</a></li>
            <li><a href="/upload-csv/">Upload CSV</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
