{% extends "base.html" %}

{% block content %}
<h2>Processed Masters</h2>
<table>
    <tr>
        <th>ITS</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Passport Number</th>
        <th>Passport Expiry Date</th>
        <th>Visa Number</th>
        <th>Arrived</th>
        <th>Timestamp</th>
    </tr>
    {% for master in processed_masters %}
    <tr>
        <td>{{ master.ITS }}</td>
        <td>{{ master.first_name }}</td>
        <td>{{ master.middle_name }}</td>
        <td>{{ master.last_name }}</td>
        <td>{{ master.passport_No }}</td>
        <td>{{ master.passport_Expiry }}</td>
        <td>{{ master.Visa_No }}</td>
        <td>{{ master.arrived }}</td>
        <td>{{ master.timestamp }}</td>
    </tr>
    {% endfor %}
</table>

<div>
    {% if page > 1 %}
    <a href="?page={{ page - 1 }}">Previous</a>
    {% endif %}

    {% if processed_masters|length == page_size %}
    <a href="?page={{ page + 1 }}">Next</a>
    {% endif %}
</div>

<form action="/print-processed-masters/" method="post">
    <input type="hidden" name="page" value="{{ page }}">
    <button type="submit">Print This Page</button>
</form>
{% endblock %}
